{% extends 'base.html' %}

{% block content %}
<style>
  /* Add this to your CSS file or in a <style> tag in your HTML */
  #loaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
</style>

<div class="text-center">
  <br>
  <h4 style="color: #3498db; font-family: 'Arial', sans-serif; font-weight: bold; text-transform: uppercase;">
    Create DocRE
  </h4>
</div>

<div class="container-fluid">
  <div class="col-md-6 offset-md-3 mt-5">
    <!-- # tagate ='_blank' #add in from at the end for every times open new page -->
    <form accept-charset="UTF-8" action="{% url 'file_upload' %}" method="POST" enctype="multipart/form-data"
      id="uploadForm">
      {% csrf_token %}

      <!-- <div class="row"> -->
      <!-- <div class="col-md-6">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Shipper:</label>
            <select name="form-select" class="form-control sm select2 mt-2" id="" required>
              <option value="" disabled selected>Select Client</option>
              <option value="ICM">ICM</option>
              <option value="AutoCom Japan">AutoCom Japan</option>
              <option value="ICM">client 3</option>
              <option value="ICM">client 4</option>
          </select>
          </div>
        </div> -->

      <!-- {{ form }} -->
      {{ form.file1 }}
      {{ form.file2 }}
      {{ form.files }}
      <!-- <div class="col-md-6">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Booking Agent / Mediator:</label>
            <select name="form-select-sm" class="form-control mt-2" id="" required>
              <option value="" disabled selected>Select Booking</option>
              <option value="MarineServices">Marine services</option>
              <option value="Sync">Sync Logistics</option>
              <option value="TechnoTrans">Techno Trans</option>
              <option value="TechnoTrans">Agent 4</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group mt-2">
            <label class="mr-2">Custom's File:</label>
            <input type="file" name="file1" accept=".pdf" required>
          </div>
        </div>
      </div>
      <div>
        <div class="col-md-6">
          <div class="form-group mt-2">
            <label class="mr-2">DR/SI:</label>
            <input type="file" name="file2" accept=".pdf" required>
          </div>
        </div>
      </div>
      <div>
        <div class="col-md-6">
          <div class="form-group mt-2">
            <label class="mr-2">Excel File:</label>
            <input type="file" name="file3" accept=".xlsx" multiple required>
          </div>
        </div>
      </div> -->
      <!-- <div class="mt-3">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div> -->
      <div class="mt-3">
        <button type="submit" class="btn btn-primary" id="uploadBtn">Upload</button>
      </div>

    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- <script>
  $(document).ready(function () {
    $("#uploadForm").submit(function () {
      // Show loader overlay on the entire page
      $("#loaderOverlay").show();

      // Disable the "Upload" button
      $("#uploadBtn").prop("disabled", true);
    });
  });
</script> -->

{% endblock %}